* {
	box-sizing: border-box;
	font-family: 'League Mono', monospace;
}

body {
	background-color: #ffffff;
	color: #303030;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

.slide {
	flex: 1;
	padding: 20px;
	width: 100%;
}

a {
	color: #0050e0;
	cursor: pointer;
	text-decoration: underline;
}


/* Navigation */
.navigation {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	font-size: 30px;
	padding: 20px;
	width: 100%;
}

.next-btn {
	margin-left: auto;
}


/* Title slide */
.title-wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.title {
	font-size: 72px;
	text-align: center;
}

.subtitle {
	font-size: 48px;
	text-align: center;
}


/* Other slides */
.reveal {
	display: none !important;
}

.heading {
	font-size: 48px;
	margin: 60px 40px 40px;
	text-align: center;
}

.bullet {
	font-size: 36px;
	margin: 20px;
}

.bullet::before {
	content: "-";
}

.code {
	background-color: #e0e0e0;
	padding: 10px 20px;
}
