@font-face {
	font-family: 'League Mono';
	font-weight: 100;
	src:
		url('LeagueMono-Thin.woff2') format('woff2'),
		url('LeagueMono-Thin.woff') format('woff'),
		url('LeagueMono-Thin.ttf') format('truetype'),
		url('LeagueMono-Thin.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 200;
	src:
		url('LeagueMono-UltraLight.woff2') format('woff2'),
		url('LeagueMono-UltraLight.woff') format('woff'),
		url('LeagueMono-UltraLight.ttf') format('truetype'),
		url('LeagueMono-UltraLight.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 300;
	src:
		url('LeagueMono-Light.woff2') format('woff2'),
		url('LeagueMono-Light.woff') format('woff'),
		url('LeagueMono-Light.ttf') format('truetype'),
		url('LeagueMono-Light.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 400;
	src:
		url('LeagueMono-Regular.woff2') format('woff2'),
		url('LeagueMono-Regular.woff') format('woff'),
		url('LeagueMono-Regular.ttf') format('truetype'),
		url('LeagueMono-Regular.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 500;
	src:
		url('LeagueMono-Medium.woff2') format('woff2'),
		url('LeagueMono-Medium.woff') format('woff'),
		url('LeagueMono-Medium.ttf') format('truetype'),
		url('LeagueMono-Medium.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 600;
	src:
		url('LeagueMono-SemiBold.woff2') format('woff2'),
		url('LeagueMono-SemiBold.woff') format('woff'),
		url('LeagueMono-SemiBold.ttf') format('truetype'),
		url('LeagueMono-SemiBold.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 700;
	src:
		url('LeagueMono-Bold.woff2') format('woff2'),
		url('LeagueMono-Bold.woff') format('woff'),
		url('LeagueMono-Bold.ttf') format('truetype'),
		url('LeagueMono-Bold.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'League Mono';
	font-weight: 800;
	src:
		url('LeagueMono-ExtraBold.woff2') format('woff2'),
		url('LeagueMono-ExtraBold.woff') format('woff'),
		url('LeagueMono-ExtraBold.ttf') format('truetype'),
		url('LeagueMono-ExtraBold.eot') format('embedded-opentype');
}
